<!-- https://stackoverflow.com/questions/14711552/external-javascript-file-is-not-getting-added-when-running-on-flask -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'noformalert.js') }}"
></script>

<form method="POST">
    回合：{{game.turn}}
    輪到：{{game.next}}
    <button name="reset" value="reset">reset</button>
    {% for button_dict in button_dict_list %}
        <button style="position: absolute; left: {{button_dict.left}}; top:{{button_dict.top}}; width: 45px; height: 45px;" name="button" value={{button_dict.id}}> {{ button_dict.symbol }} </button>
    {% endfor %}
</form>