<!-- https://stackoverflow.com/questions/14711552/external-javascript-file-is-not-getting-added-when-running-on-flask -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'noformalert.js') }}"
></script>

<form method="POST">
  <h3>回合：{{game.turn}}</h3>
  {% if game.winner %}
  <h3>勝利者：{{game.winner}}</h3>
  {% else %}
  <h3>輪到：{{game.next}}</h3>
  {% endif %}

  <button name="reset" value="reset">重來</button>

  {% for button_dict in button_dict_list %}
  <button
    style="position: absolute; left: {{button_dict.left}}; top: {{button_dict.top}}; width: 45px; height: 45px;"
    name="button"
    value="{{button_dict.id}}"
  >
    {{ button_dict.symbol }}
  </button>
  {% endfor %}
</form>
